<table border="0" cellspacing="0" cellpadding="25" width="740" align="center" bgcolor="#cccccc">
  <tbody>
    <tr>
      <td><table border="0" cellspacing="0" cellpadding="0" width="690" align="center" bgcolor="#F4F4F4">
        <tbody>
          <tr>
            <td height="128" align="center" ><!-- <img src="http://localhost:8080/lifetectonicsfinal/logo.png" border="0" alt="Lifetectonics" width="600" height="100" /> --><h1>Lifetectonics</h1></td>
          </tr>
          <tr>
            <td><table border="0" cellspacing="0" cellpadding="0" width="690">
              <tbody>
                <tr>
                  <td width="600" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="padding-right:30px;padding-left:50px;font-size:13px;font-family:Arial,sans-serif;color:FFF">Dear {{email}}, <br />
                          <br />
                          Please click on below link Active your Account.
                          <br />
                          <br />
                          <p><span style="color: #ff3366;font-weight: 600;"><a href="http://localhost/datta/updatestatus.php?email={{email}}">Click here active your Account</a> </span></p>
                         
                          <br />
                         
                        </td>
                        </tr>
                      </tbody>
                    </table>
                    <br /></td>
                  </tr>
              </tbody>
            </table></td>
          </tr>
          <tr>
            <td height="45" align="center" bgcolor="#ff3366"></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>