<table border="0" cellspacing="0" cellpadding="25" width="740" align="center" bgcolor="#cccccc">
  <tbody>
    <tr>
      <td><table border="0" cellspacing="0" cellpadding="0" width="690" align="center" bgcolor="#F4F4F4">
        <tbody>
          <tr>
            <td height="50" align="center" bgcolor="#EC8946"><h1 style="color:#FFF">Email Confirmation...</h1></td>
          </tr>
          <tr>
            <td><table border="0" cellspacing="0" cellpadding="0" width="690">
              <tbody>
                <tr>
                  <td width="600" align="left" valign="top"><table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tbody>
                      <tr><br><br>
                        <td style="padding-right:30px;padding-left:50px;font-size:13px;font-family:Arial,sans-serif;color:FFF">Dear {{email}}, <br />
                          <br />
                         
						Confirm your email address to complete your account 

						{{email}}. It's easy just click the button below.
                          <br />
                          <br />
                          <p style="text-align: center;"><span style="color: #ff3366;font-weight: 600;"><a href="http://localhost/datta/updatestatus.php?email={{email}}"><button style="    background: #EC8946;
    color: #fff;
    border: 0px;
    width: 30%;
    padding: 9px 10px;
    font-size: 14px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-left: 5%;
    cursor: pointer;">Confirm now</button></a> </span></p>
                         
                          <br />
                         
                        </td>
                        </tr>
                      </tbody>
                    </table>
                    <br /></td>
                  </tr>
              </tbody>
            </table></td>
          </tr>
          <tr>
            <td height="45" align="center" bgcolor="#EC8946"></td>
          </tr>
        </tbody>
      </table></td>
    </tr>
  </tbody>
</table>